# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
env/
venv/
ENV/

# Data and Models
data_acquisition/
data_download/
*.zip
*.wav
*.mp3

# Ignore caches
.ruff_cache/
**/__pycache__/

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/